@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

@keyframes dropVanish {
  30% {
      transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  50% {
      transform: translate(0, 20px) scale(.8) rotate(0deg);
      opacity: 1;
  }

  80% {
      transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
      opacity: 0;
  }

  100% {
      transform: translate(0) scale(1) rotate(0deg);
      opacity: 1;
  }
}

body, html {
  height: 100%;
  margin: 0;
}


body {
background-size: 100% auto;
font-family: 'Noto Sans TC', sans-serif;
font-size: 10px;
color: black;
//background-color: black;
word-wrap:break-word;
//background-image: url("rinconcito_background_mixed.png");
//background-image: url("papas-chamoy.jpg");
}

div.Lost {
  background-image: url("rinconcito_background_mixed.png");

  /* Full height */
  height: 100%; 
  width: 100%; 
  position:fixed;

  //color: #fcd330;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div.Main_Page {
  /* The image used */
  background-image: url("rinconcito_background_white.jpg");

  /* Full height */
  height: 100%; 
  width: 100%; 
  position:fixed;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



h2 {
font-size: 45px;
color: black;
}

#menu td, #menu th {
border: 0px ;
padding: 6px;
//border: 1px solid black;
}

#menu th {
text-align: left;
}

#menu tr td:nth-child(1), #menu tr td:nth-child(4) {  
  color: #c22094;
  font-size: 45px;
} 

#menu tr td:nth-child(2), #menu tr td:nth-child(5)  { 
  color: #fcd330;
  font-size: 20px;
  line-height: 90%;
} 

#menu tr td:nth-child(2) span, #menu tr td:nth-child(5) span { 
  color: black;
  font-size: 15px;

} 


#menu tr td:nth-child(3), #menu tr td:nth-child(6) { 
  color: black;
  font-size: 20px;
} 

.right_logo {
  position:fixed; top:0; right:0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color:black;
}

.right {
  right: 0;
  background-color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  
}

#bgvid {
  position: absolute;
  z-index: 0;
  background-size: 100% 100%;
  top: -25px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

div.seven.wide.column{
  //background-image: url("rinconcito_background_trans.png");
  //background-color: black;

}

#menu{
  //background-color: white;
  //opacity: 0.;
  //border-radius: 8px;
}

img.image_corners{
  border-radius: 8px;
}

div.ui.three.column.grid{
  background-color: white;
  //opacity: .7;
  border-radius: 8px;

}